doctype html
html(lang='en')
    include ../common/head.pug
    +head("Dodaj Produkt")
    body
        header
            include ../common/navbar.pug
            +navbar()
        .container
            .row.align-items-center
                .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                    h1.text-cetner Edytuj Promocje
                    form(action="/promocja/" + promocjaies.id + "/edit", method="POST")
                        .input-group.mb-3
                            input(name="nazwa_promocji", type="text",placeholder="Podaj nazwę promocji: ",value=promocjaies.nazwa_promocji).form-control
                        .input-group.mb-3
                            input(name="wartosc_promocji", type="text",placeholder="Podaj wartość promocji: np(123.02)",value=promocjaies.wartosc_promocji).form-control
                        .input-group.mb-3
                            input(name="min_ilosc_produktu_w_koszyku", type="text",placeholder="Podaj minimalna ilość produktów w koszyki: ",value=promocjaies.min_ilosc_produktu_w_koszyku).form-control
                        .input-group.mb-3
                            button(type="submit").btn.btn-primary Potwierdz
            a(href="/promocja/" + promocjaies.id ).check3.btn.btn-primary Powrót
        include ../common/footer.pug
        +footer()