<div class="row">
  <div ngbDropdown class="d-inline">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
      [translate]="'sort'"
    ></button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button
        ngbDropdownItem
        (click)="sortEvent.emit({ sort: 'nazwa', order: 'asc' })"
        [translate]="'fromAtoZ'"
      ></button>
      <button
        ngbDropdownItem
        (click)="sortEvent.emit({ sort: 'cena_netto', order: 'desc' })"
        [translate]="'priceNettoDesc'"
      ></button>
      <button
        ngbDropdownItem
        (click)="sortEvent.emit({ sort: 'cena_netto', order: 'asc' })"
        [translate]="'priceNettoAsc'"
      ></button>
      <button
        ngbDropdownItem
        (click)="sortEvent.emit({ sort: 'cena_brutto', order: 'desc' })"
        [translate]="'priceBruttoDesc'"
      ></button>
      <button
        ngbDropdownItem
        (click)="sortEvent.emit({ sort: 'cena_brutto', order: 'asc' })"
        [translate]="'priceBruttoAsc'"
      ></button>
    </div>
  </div>

  <div class="input-group">
    <select
      [(ngModel)]="kontrahent"
      class="form-control"
      placeholder="Kontrahent"
      (change)="changeKontrahent($event)"
    >
      <option [value]=""></option>
      <option *ngFor="let item of kontrahenci" [value]="item.nip">
        {{ item.nazwa }}
      </option>
    </select>
  </div>
  <br />

  <form [formGroup]="filterForm">
    <div class="input-group">
      <div class="form-group">
        <br />
        <input
          type="number"
          min="0"
          formControlName="cenaNettoFrom"
          class="form-control"
          placeholder="{{ 'priceNettoFrom' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          min="0"
          formControlName="cenaNettoTo"
          class="form-control"
          placeholder="{{ 'priceNettoTo' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          min="0"
          formControlName="cenaBruttoFrom"
          class="form-control"
          placeholder="{{ 'priceBruttoFrom' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          min="0"
          formControlName="cenaBruttoTo"
          class="form-control"
          placeholder="{{ 'priceBruttoTo' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          formControlName="nazwa"
          class="form-control"
          placeholder="{{ 'name' | translate }}"
        />
      </div>
    </div>

    <button
      class="btn btn-primary btn-filter"
      (click)="filterFormSend()"
      [translate]="'filter'"
    ></button>
    <button
      class="btn"
      (click)="filterFormClear()"
      [translate]="'clear'"
    ></button>
  </form>
</div>
