<ng-container *ngIf="data">
  <div class="title">
    <h1>{{ "orderNumber" | translate }}: {{ orderId }}</h1>
  </div>

  <h2>Produkty</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Ilość</th>
        <th scope="col">Cena</th>
        <th scope="col">Suma</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.pozycje_zamowienia; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ item.nazwa }}
        </td>
        <td>{{ item.ilosc }}</td>
        <td>{{ item.cena_netto | currency: "PLN" }}</td>
        <td>{{ item.cena_netto * item.ilosc | currency: "PLN" }}</td>
      </tr>
    </tbody>
    <p>
      <span>Suma całkowita netto: </span>
      {{ getTotalNetto().toFixed(2) | currency: "PLN" }}
    </p>
    <p>
      <span>Suma całkowita brutto: </span>
      {{ (getTotalNetto() * 1.23).toFixed(2) | currency: "PLN" }}
    </p>
  </table>
</ng-container>
