doctype html
html(lang='en')
  include common/head.pug
  +head("Strona glowna")
  body
    header
      include common/navbar.pug
      +navbar()
    .container
      .row.align-items-center
        .col-md-12.order-md-12.text-center.text-md-left.pr-md-1
          h1.mb-6.text-center Strona główna mikro serwisu produktów
          p.lead.mb-4.text-center Podgląd poszczególnych danych
      .row.d-flex.justify-content-center
        a(href="./produkty").check.btn.btn-primary.m-3 Produkty
        //- a(href="./promocje").check.btn.btn-primary.m-3 Promocje
        //- a(href="./powiazania").check.btn.btn-primary.m-3 Powiazania
  include common/footer.pug
  +footer()
