<div class="card mb-3 shadow-sm">
  <div class="card-body">
    <strong>{{ data.nazwa }}</strong>
    <br />
    <span
      >{{ data.cena_netto | currency: "PLN" }} {{ "netto" | translate }}</span
    >
    <br />
    <span>
      {{
        (
          (data.cena_netto * data.procentowa_stawka_vat) / 100 +
          data.cena_netto
        ).toFixed(2) | currency: "PLN"
      }}
      {{ "brutto" | translate }}
    </span>
    <br />
    <span
      >{{ data.procentowa_stawka_vat / 100 | percent }}
      {{ "vat" | translate }}</span
    >

    <div class="d-flex justify-content-between align-items-center">
      <div class="input-group input-group-sm">
        <input type="number" min="0" class="form-control" [(ngModel)]="count" />
        <span class="input-group-btn btn-group-sm">
          <button
            class="btn btn-primary"
            type="button"
            (click)="addToCart()"
            [translate]="'toCart'"
            [disabled]="!count || count === 0"
          ></button>
        </span>
      </div>
    </div>
  </div>
</div>
