<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white box-shadow"
>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <span [translate]="'title'"></span>
    </h5>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" [translate]="'products'"></a>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="login()">Logowanie</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="data()">
            Pobranie danych użytkownika
          </button>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/orders"
            [translate]="'orderHistory'"
          ></a>
        </li>
      </ul>

      <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="/basket"
        >Koszyk ({{ total | currency: "PLN" }})</a
      >
    </div>
  </nav>
  <br />
</div>
