mixin navbar()
    nav.navbar.navbar-expand.navbar-light.bg-light
        .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="./") Strona główna
                li.nav-item
                    a.nav-link(href="./produkty") Produkty
                //li.nav-item
                    //a.nav-link(href="/promocje") Promocje
                //li.nav-item
                    //a.nav-link(href="/powiazania") Powiazania